<div class="query-representation">
  <div class="query-representation-content">
  {{#ifMultiple searchParams}}
    {{#each searchParams}}
      <i class="list-header-item category-icon icon-{{icon}}"></i>
    {{/each}}
  {{else}}
    {{#each searchParams}}
      <i class="list-header-item category-icon icon-{{icon}}"></i>
      <span>{{title}} </span>
    {{/each}}    
  {{/ifMultiple}}

    {{^searchParams}}
      <i class="list-header-item category-icon icon-th"></i>
      <span>All </span>
    {{/searchParams}}
    <span class="sort-options"><a href="#" class="sort-toggle">
      {{#if sortIsProximity}}
        sort by name
      {{else}}
        sort by proximity
      {{/if}}
    </a></span>
    <span class="open-options">
      <label>
        <input type="checkbox" name="open">
        open now
      </label>
    </span>
    <div class="more-options"><p>Options <i class="icon-right-open-2"></i></p></div>
  </div>
</div>
