{{#with facility}}
<div class="container">
  <h3>{{name}}</h3>

  <div class="facility-info">
    <p class="title">Welcome</p>
    <div class="inset">
      <p>{{demographics}}</p>
    </div>

    <p class="title">Services</p>
    <div class="inset">
      {{#each distinctCategories}}
        <span class="facility-services"><i class="category-icon icon-{{icon}}"></i>{{title}}</span>
      {{/each}}
    </div>

    <div class="inset-gmap">
      <div id="detail-gmap"></div>
      <p>{{address}}</p>
      {{#with destination}}
        {{#if showDistance}}<p class="destination">{{distance}} miles</p>{{/if}}
        {{#if showWalkingTime}}<p class="destination">{{walkingTime}} minutes walking</p>{{/if}}
      {{/with}}
    </div>


    <div class="inset-call">
      <i class="icon-phone"></i>
      <label>Call</label>
      {{#if ../isMobile}}
        <a href="tel:{{phone}}">{{phone}}</a>
      {{else}}
        <span>{{phone}}</span>
      {{/if}}
      <i class="icon-right-open right"></i>
    </div>

    {{#if website}}
    <a href="{{website}}" target="_blank">
      <div class="inset-website">
        <i class="icon-link"></i>
        <label>Website</label>
        <span>{{website}}</span>
        <i class="icon-right-open right"></i>
      </div>
    </a>
    {{/if}}

    <div class="inset-directions">
      <i class="icon-compass"></i>
      <label>Directions</label>
      <i class="icon-right-open right"></i>
    </div>

    {{#each services}}
      <div class="inset-services">
        <p class="service-title">{{name}}</p>
          {{> openHours}}
        <p>{{description}}</p>
        {{#if notes}}
          <div class="notes">
            <label>Notes:</label>
           <p>{{notes}}</p>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/with}}
