{{#with facility}}
<div class="container">
  <h3>{{name}}</h3>

  <div class="facility-info">
    <p class="title">Welcome</p>
    <div class="inset">
      <p>{{demographics}}</p>
    </div>

    <p class="title">Services</p>
    <div class="inset">
      {{#each distinctCategories}}
        <span class="facility-services"><i class="category-icon icon-{{icon}}"></i>{{title}}</span>
      {{/each}}
    </div>

    <div class="inset-gmap" title="Map &amp; Directions">
      <a title="Click to open Google Maps in a new window with directions to facility" id="link_gmap"><div id="detail-gmap"></div></a>
      <p title="Facility Address">{{address}} {{#if cross_street}}({{cross_street}}){{/if}}</p>
      <p title="Distance from current location to facility" class="destination" id="distance_{{objectId}}">{{distanceText}}</p>
      <p title="Time from current location to facility" class="destination" id="duration_{{objectId}}">{{durationText}}</p>
    </div>

    <div class="contact-info">
      {{#each phoneNumbers}}
      <div class="inset-call inset-header">
        <div>
          <i class="icon-phone"></i>
          <label>Call</label>
          {{#if ../isMobile}}
            <a href="tel:{{number}}">{{number}}</a>
          {{else}}
            <span>{{number}}</span>
          {{/if}}
          <i class="icon-right-open right"></i>
        </div>
        {{#if info}}
        <div class="call-info">{{info}}</div>
        {{/if}}
      </div>
      {{/each}}

      {{#if website}}
        <div class="inset-website inset-header">
          <a href="{{website}}" target="_blank">
            <div>
              <i class="icon-link"></i>
              <label>Website</label>
              <span>{{website}}</span>
              <i class="icon-right-open right"></i>
            </div>
          </a>
        </div>
      {{/if}}

      <button class="inset-directions">
        <i class="icon-compass"></i>
        <label>Directions</label>
        <i class="icon-right-open right"></i>
      </div>
    </button>

    {{#each services}}
      <div class="inset-services">
        <p class="service-title">{{name}}</p>
          {{> openHours}}
        <p>{{description}}</p>
        {{#if notes}}
          <div class="notes">
            <label>Notes:</label>
           <p>{{notes}}</p>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/with}}
