{{> queryRepresentation}}
<div id='loading-spinner' role="presentation">
  <img src='../img/linksf_loader.gif' alt=''>
</div>
<ul class="facility-list" title="{{listDescription}}">
  {{#each facilities}}
    <li class="facility">
      <a href="#/detail/{{objectId}}" class="facility-item-link" title="Click to see more details about {{name}}">
        <div class="facility-item-box-info">
          <div>
            <p class="facility-name">{{name}}</p>
          </div>
            <span class="facility-info">
              <span class="label-status {{status}}">{{status}}</span>
            </span>
          <div class="categories">
            {{#each serviceCategories}}
              <span class="facility-services"><i class="category-icon icon-{{icon}}"></i></span>
            {{/each}}
          </div>
          <span id="distance_{{objectId}}" class="label-status">{{distanceData}}</span>
          <div class="facility-item-box-caret">
            <i class="icon-right-open-2 chevron"></i>
          </div>
        </div>
      </a>
    </li>
  {{/each}}
  <li id="load-more" class="facility"></li>
  {{#unless loadingResults}}
    {{^facilities}}<p class="not-found">Sorry, no results found.</p>{{/facilities}}
  {{/unless}}
</ul>
