{{#with facility}}
<div class="facility-header">{{name}}</div>
<div id="container">
  <h3>{{name}}</h3>

  <table id="facility-main-info">
    <tr>
      <td class="title">Hours:</td>
      <td>
        {{#each services}}
          {{#if hours}}<p style="margin: 0;">{{hours}} ({{name}})</p>{{/if}}
        {{/each}}
      </td>
    </tr>
    <tr>
      <td class="title">Allowed:</td>
      <td>{{demographics}}</td>
    </tr>
    <tr>
      <td class="title">Services:</td>
      <td>
        {{#each services}}
          <span>{{this.name}} </span>
        {{/each}}
      </td>
    </tr>
  </table>

  <br/>

  <div class="round-shadow">
    <div id="location-map"></div>
    <div class="address">{{address}}</div>
  </div>
  <div class="round-shadow">
    <span class="info-row">Call: <a href="tel:{{phone}}">{{phone}}</a></span><span class="prevrow"></span>
    <span class="info-row directions"><a href="#">Directions</a></span>
  </div>
  <p>Information</p>
  <div class="round-shadow serviceDetail">
	  {{#each services}}
	    <div class="info-row">
	      <div class="desco">{{this.description}}</div>
	      <div class="more"></div>
	    </div>
	    <div class="seeMore">
	      <h3>{{this.name}}</h3>
	      <h4>Description: </h4>
	      {{this.description}}
	      <h4>Notes</h4>
	      {{this.notes}}
	    </div>
	    <span class="prevrow"></span>
      {{/each}}
	</div>
{{/with}}
