{{> nav}}

{{#with facility}}
<div class="container">
  <h3>{{name}}</h3>

  <div class="facility-info">
    <p class="title">Hours</p>
    <div class="inset">
      {{#if services}}
        {{#each services}}
          {{#if hours}}
            <p>{{hours}} ({{name}})</p>
          {{/if}}
        {{/each}}
      {{/if}}
    </div>

    <p class="title">Welcome</p>
    <div class="inset">
      <p>{{demographics}}</p>
    </div>

    <p class="title">Services</p>
    <div class="inset">
      {{#each distinctCategories}}
        <span class="facility-services"><i class="category-icon icon-{{icon}}"></i>{{title}}</span>
      {{/each}}
    </div>

    <div class="inset-gmap">
      <div id="detail-gmap"></div>
      <p>{{address}}</p>
    </div>

    <div class="inset-call">
      <i class="icon-phone"></i>
      <label>Call</label>
      {{#if ../isMobile}}
        <a href="tel:{{phone}}">{{phone}}</a>
      {{else}}
        <span>{{phone}}</span>
      {{/if}}
    </div>

    <div class="inset-directions">
      <i class="icon-compass"></i>
      <label>Directions</label>
    </div>

    {{#each services}}
      <p class="title">{{name}}</p>
      <div class="inset-services">
        <label>Description:</label>
        <p>{{description}}</p>
        <label>Notes:</label>
        <p>{{notes}}</p>
      </div>
    {{/each}}
  </div>
{{/with}}
