<div id="container">
{{#with facility}}
	<h2>{{name}}</h2>
	<p class="time">Hours: <br/>
  {{#each services}}
    {{this.description}}: <strong>{{this.hours}}</strong>
  {{/each}}
	</p>
	<p><span class="bold">Allowed: </span><span>{{gender}}</span></p>
	<p><span class="bold">Services: </span>
	{{#each services}}
		<span>{{this.name}} </span>
	{{/each}}
	</p>
	<br/>
	<p>{{notes}}</p>
	<div class="round-shadow">
		<div id="location-map"></div>
		<div class="address">{{address}}</div>
	</div>
	<div class="round-shadow">
		<span class="info-row">Call:{{phone}}</span><span class="prevrow"></span>
		<span class="info-row">Directions</span>
	</div>
	<p>Information</p>
	<div class="round-shadow serviceDetail">
		{{#each services}}
			<div class="info-row">
				<div class="desco">{{this.description}}</div>
				<div class="more"></div>
			</div>
			<div class="seeMore">
				<h3>{{this.name}}</h3>
				<h4>Description: </h4>
				{{this.description}}
				<h4>Notes</h4>
				{{this.notes}}
			</div>
			<span class="prevrow"></span>
		{{/each}}
	</div>
{{/with}}
</div>
