{{#with facility}}
	<h2>{{name}}</h2>
	<p class="time">Hours: </span><span>
	{{hours.Sun}}</span>
	</p>
	<p><span class="bold">Allowed: </span><span>{{gender}}</span></p>
	<p><span class="bold">Services: </span>
	{{#each services}}
		<span>{{category}} </span>
	{{/each}}
	</p>
	<br/>
	<p>{{notes}}</p>
	<div id="location-map"></div>

{{/with}}