{{#with facility}}
<div>
  <dl>
  <div id="errorMessages">
  </div>
  <form Id="facilityForm" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Facility Name</label>
      <div class="controls">
        <input class="required" type="text" name="name" value="{{name}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">Address</label>
      <div class="controls">
        <input class="required hasPopover" type="text" name="address" value="{{address}}" data-trigger="hover" data-content="The address is used for both a human-readable address for the list and detail pages and calculating the map coordinates for the details page.">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="city">City</label>
      <div class="controls">
        <input class="required" type="text" name="city" value="{{city}}">
      </div>
    </div>
    <div class="control-group" style="display: none;">
      <div class="controls">
        <span class="address-preview"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
        <input type="text" name="phone" value="{{phone}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="website">Website</label>
      <div class="controls">
        <input type="text" name="website" value="{{website}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="notes">Notes</label>
      <div class="controls">
        <textarea data-trigger="hover" data-content="Brief description of the facility" name="notes" class="autosize span5 hasPopover">{{notes}}</textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="gender">Gender</label>
      <div class="controls">
        <div class="hasPopover" data-trigger="hover" data-content="Who is welcome in the facility" style="width:150px;">
          <label class="radio"> <input type="radio" name="gender" id="gender_" value=""> Everyone </label>
          <label class="radio"> <input type="radio" name="gender" id="gender_M" value="M"> Male </label>
          <label class="radio"> <input type="radio" name="gender" id="gender_F" value="F"> Female </label>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="age">Ages</label>
      <div class="controls hasPopover" style="width:150px;" data-trigger="hover" data-content="Who is welcome in the facility">
        <label class ="checkbox"> <input type="checkbox" id="age_everyone" value=""> Everyone </label>
        <label class ="checkbox"> <input type="checkbox" name="age" id="age_C" value="C"> Children </label>
        <label class ="checkbox"> <input type="checkbox" name="age" id="age_Y" value="Y"> Youth </label>
        <label class ="checkbox"> <input type="checkbox" name="age" id="age_A" value="A"> Adults </label>
        <label class ="checkbox"> <input type="checkbox" name="age" id="age_S" value="S"> Seniors </label>
      </div>
    </div>
    <div>
      <label class="control-label">Services</label>
      <div class="controls" id="services">
        {{#each services}}
          {{> editService}}
        {{/each}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <select name="categories" id="categories" class="span2">
          <option value="food">Food</option>
          <option value="housing">Housing</option>
          <option value="hygiene">Hygiene</option>
          <option value="medical">Medical</option>
          <option value="technology">Technology</option>
        </select>
        <span><a id="add_category" href="#">Add new service in this category</a></span>
      </div>
    </div>
    <div class="alert" id="facilitySaved" style="display:none;">
      {{name}} saved.
    </div>
    <div class="alert" id="facilitySaveError" style="display:none;">
      Error saving {{name}}
    </div>

    <div class="control-group" style="padding-top:20px;">
      <div class="controls">
        <input type="button" id="submit" value='save changes' class="btn-large">
        <input type="button" id="delete_facility" value='delete facility' class="btn-large">
      </div>
    </div>
  </form>
</div>
{{/with}}
