{{#with facility}}
<div>
  <dl>
  <div id="errorMessages">
  </div>
  <form Id="facilityForm" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Facility Name</label>
      <div class="controls">
        <input class="required" type="text" name="name" value="{{name}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">Address</label>
      <div class="controls">
        <input class="required" type="text" name="address" value="{{address}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
        <input type="text" name="phone" value="{{phone}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="notes">Notes</label>
      <div class="controls">
        <textarea name="notes" class="autosize span5">{{notes}}</textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="gender">Gender</label>
      <div class="controls">
        <input type="radio" name="gender" id="gender_" value=""> Everyone<br/>
        <input type="radio" name="gender" id="gender_M" value="M"> Male</br>
        <input type="radio" name="gender" id="gender_F" value="F"> Female</br>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="age">Ages</label>
      <div class="controls">
        <input type="checkbox" name="age" id="age_everyone" value=""> Everyone<br/>
        <input type="checkbox" name="age" id="age_C" value="C"> Children<br/>
        <input type="checkbox" name="age" id="age_Y" value="Y"> Youth<br/>
        <input type="checkbox" name="age" id="age_A" value="A"> Adults<br/>
        <input type="checkbox" name="age" id="age_S" value="S"> Seniors<br/>
      </div>
    </div>
    <div>
      <label class="control-label">Services</label>
      <div class="controls" id="services">
        {{#each services}}
          {{> editService}}
        {{/each}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <select name="categories" id="categories" class="span2">
          <option value="food">Food</option>
          <option value="housing">Housing</option>
          <option value="hygiene">Hygiene</option>
          <option value="medical">Medical</option>
          <option value="technology">Technology</option>
        </select>
        <span><a id="add_category" href="#">Add new service in this category</a></span>
      </div>
    </div>
    <div class="alert" id="facilitySaved" style="display:none;">
      {{name}} saved.
    </div>
    <div class="alert" id="facilitySaveError" style="display:none;">
      Error saving {{name}}
    </div>

    <div class="control-group" style="padding-top:20px;">
      <div class="controls">
        <input type="button" id="submit" value='save changes' class="btn-large">
      </div>
    </div>
  </form>
</div>
{{/with}}
