<div class="row service-edit-row">
  <input type="hidden" name="services[{{@index}}][id]" value="{{objectId}}">
  <div class="span2">
    <label for="services[{{@index}}][name]">Service name</label>
    <input type="text" name="services[{{@index}}][name]" value="{{name}}" class="span2">
  </div>
  <div class="span2">
    <label for="services[{{@index}}][category]">Category</label>
    <select name="services[{{@index}}][category]" id="service[{{@index}}]_category" class="span2">
      <option value="food">Food</option>
      <option value="shelter">Shelter</option>
      <option value="hygiene">Hygiene</option>
      <option value="medical">Medical</option>
      <option value="technology">Technology</option>
    </select>
  </div>
  <div class="span3">
    <label for="services[{{@index}}][description]">Description</label>
    <input type="text" class="span3" name="services[{{@index}}][description]" value="{{description}}">
  </div>
  <div class="span5">
    <label for="services[{{@index}}][notes]">Notes</label>
    <textarea class="span5" rows=4 name="services[{{@index}}][notes]">{{notes}}</textarea>
  </div>

  <div class="clear"></div>

  Open Hours
  <div class="hours">
    <div class="hour_option">
      <label>Day of week</label>
      <select>
        <option value="Mon">Mon</option>
        <option value="Tue">Tue</option>
        <option value="Wed">Wed</option>
        <option value="Thu">Thu</option>
        <option value="Fri">Fri</option>
        <option value="Sat">Sat</option>
        <option value="Sun">Sun</option>
      </select>
    </div>

    <div class="hour_option">
      <label>Start</label>
      <select>
        {{#each allHours}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="hour_option">
      <label>End</label>
      <select>
        {{#each allHours}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="clear"></div>

    <input type="text" class="span3 hours_description" name="services[{{@index}}][hours]" value="{{hours}}">
    <span></span>
  </div>
</div>
