{{> nav}}
{{> queryRepresentation}}

<ul class="facility-list">
  {{#each facilities}}
    <li class="facility">
      <a href="#/detail/{{objectId}}" class="facility-item-link">
        {{#if hasKnownStatus}}
          <p class="facility-status-{{status}}">{{status}}</p>
        {{/if}}
        <p class="facility-name">{{name}}</p>
        <p class="facility-address">{{address}}</p>
        <p class="facility-status {{status}}">{{status}}</p>
        {{#each serviceCategories}}
          <span class="facility-services"><i class="category-icon icon-{{icon}}"></i>{{title}}</span>
        {{/each}}
      </a>
    </li>
  {{/each}}
</ul>
<div id='load-more-container'>
  <button class="btn btn-info" id="load-more">More...</button>
</div>
<div style='display: none' id='loading-spinner'>
  <img src="images/spinner.gif"> Loading...
</div>
