<nav>
  <button id="filter">Filter</button>
</nav>

<div class="query">
  <div class="query-options">
    <h4>Sort by</h4>
    <ul class="query-option-sort option-group-exclusive">
      <li data-value="name" class="query-option">Name</li>
      <li data-value="near" class="query-option">Distance</li>
    </ul>
    <h4>with the following services</h4>
    <ul class="query-option-category  option-group">
      <li data-value="food" class="query-option">Food</li>
      <li data-value="medical" class="query-option">Medical</li>
      <li data-value="housing" class="query-option">Housing</li>
      <li data-value="technology" class="query-option">Technology</li>
      <li data-value="hygiene" class="query-option">Hygiene</li>
    </ul>

    <div class="actions">
      <a href="#" class="dismiss">Close</a>  <button class="btn submit-query">Find</button>
    </div>
  </div>
</div>

<ul id="facility-list">
  {{#each facilities}}
    <li class="facility">
      <a href="#/detail/{{this.objectId}}" class="facilityItemLink">
        {{#if this.hasStatus}}
          <p class="facility-status-{{this.status}}">{{this.status}}</p>
        {{/if}}
        <p class="facility-name"><h3 class="facility-link">{{this.name}}</h3></p>
        <p class="facility-services">{{this.serviceCategories}}</p>
        <p class="facility-address">{{this.address}}</p>
        <p class="facility-notes">{{this.allNotes}}</p>
      </a>
    </li>
  {{/each}}
</ul>
