{{> nav}}
<div id='loading-spinner'>
  <img src="images/spinner.gif"> Loading...
</div>
{{> queryRepresentation}}
<ul class="facility-list">
  {{#each facilities}}
    <li class="facility">
      <a href="#/detail/{{objectId}}" class="facility-item-link">
        <i class="icon-angle-double-right right chevron"></i>
        <div class="right right-info">
          <div class="facility-status {{status}}">{{status}}</div>
        </div>
        <div>
          {{#if hasKnownStatus}}
            <p class="facility-status-{{status}}">{{status}}</p>
          {{/if}}
          <p class="facility-name">{{name}}</p>
          <p class="facility-address">{{address}}
          {{#if showDistance}}
            <span class="gray">{{distance}} mi</span>
          {{/if}}
          </p>
        </div>
        {{#each serviceCategories}}
          <span class="facility-services"><i class="category-icon icon-{{icon}}"></i></span>
        {{/each}}
      </a>
    </li>
  {{/each}}
  {{#unless loadingResults}}
    {{^facilities}}<p class="not-found">Sorry, no results found.</p>{{/facilities}}
  {{/unless}}
</ul>
<div id='load-more-container'>
  <button class="btn btn-info" id="load-more">More...</button>
</div>
