{{> nav}}
<div id='loading-spinner'>
  <img src="images/spinner.gif"> Loading...
</div>
{{> queryRepresentation}}
<ul class="facility-list">
  {{#each facilities}}
    <li class="facility">
      <a href="#/detail/{{objectId}}" class="facility-item-link">
        <i class="icon-right-open right chevron"></i>
        <div>
          <p class="facility-name">{{name}}</p>
          <span class="facility-info">
            <span class="label-status {{status}}">{{status}}</span>
            {{#if showDistance}}<span class="label-status">{{distance}} mi</span>{{/if}}
          </span>
          </p>
        </div>
        <div class="facility-categories">
          {{#each serviceCategories}}
            <span class="facility-services"><i class="category-icon icon-{{icon}}"></i>{{title}}</span>
          {{/each}}
        </div>
      </a>
    </li>
  {{/each}}
  {{#unless loadingResults}}
    {{^facilities}}<p class="not-found">Sorry, no results found.</p>{{/facilities}}
  {{/unless}}
</ul>
<div id='load-more-container'>
  <button class="btn btn-info" id="load-more">More...</button>
</div>
