<div class="service-edit-row container">
  <input type="hidden" name="services[][id]" value="{{objectId}}">
  <div class="control-group">
    <label for="services[][category]">Category</label>
    <p>
      {{category}}
      <input type="hidden" name="services[][category]" value="{{category}}">
    </p>
  </div>
  <div class="control-group">
    <label for="services[][name]">Service name</label>
    <input type="text" class="hasPopover" data-trigger='hover' data-content='example: "showers" or "breakfast"' name="services[][name]" value="{{name}}" class="span2 required">
  </div>
  <div class="control-group">
    <label for="services[][description]">Description</label>
    <textarea class="autosize span5 hasPopover" data-trigger='hover' data-content="A brief description of the service" name="services[][description]">{{description}}</textarea>
    </div>
  <div class="control-group">
    <label for="services[][notes]">Notes</label>
    <textarea class="autosize span5 hasPopover" data-trigger='hover' data-content="Further detail regarding the service" name="services[][notes]">{{notes}}</textarea>
  </div>
  <div>
    Open Hours
    {{> editServiceHours}}
    <br/>
    <p>
      <a id="remove_category" href="#">Remove service</a>
    </p>
  </div>
</div>
